
# Workflows Separation for initial prodiction
DEPLOYMENT_MODE=
JAEGER_ENABLED=
BRAIN3_LOOP_ENABLED=
BRAIN4_OUTCOME_LOOP_ENABLED=

## API Key
SERPER_API_KEY=
GROQ_API_KEY=
RAPID_API_KEY=


# OpenRouter API key
OPEN_ROUTER_API=


# Core Model Configuration
PRIMARY_MODEL=
FALLBACK_MODEL=
TEMPERATURE=
MAX_TOKENS=


# Agent COnfiguation
AUTO_START_AUTONOMOUS=

# APP URL
APP_BASE_URL=


# Database
POSTGRES_URL=
ALEMBIC_DATABASE_URL=
REDIS_URL=
CHROMA_PATH=

#Postgres Password
POSTGRES_PASSWORD=



# Scheduling
TASK_CHECK_INTERVAL=
MAX_CONCURRENT_TASKS=
DEFAULT_MAX_ITERATIONS=

# Monitoring
ENABLE_TELEMETRY=
PROMETHEUS_PORT=
LOG_LEVEL=

# Agent Behavior
MIN_CONFIDENCE_THRESHOLD=
MAX_RETRY_ATTEMPTS=
ENABLE_HUMAN_IN_LOOP=

# Cloudflare Capcha
TURNSTILE_SECRET_KEY=

# ADMIN API KEY for USERS
ADMIN_API_KEY=

# jaeger OTLP endpoint too run
OTLP_ENDPOINT=

# IMAP Server
IMAP_SERVER=
IMAP_EMAIL=
IMAP_FOLDER=
IMAP_PORT=

#JWT SECRETS FOR FRONTEND SIGNUP
JWT_SECRET_KEY=

## EMAIL SETTINGS
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
TO_EMAIL=
FROM_EMAIL=
DEFAULT_RECIPT_EMAIL=

# Slack Notifications
SLACK_WEBHOOK_URL=

### Client ID 
CLIENT_ID=